*{
    font-family:'Poppins', sans-serif;
}

:root {
    --cardColor: #d6d6d640;
    --checked: #ffffff91;
}

.Container_Languages {
    width: auto;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr) ;
    gap: 1rem 2rem;
    z-index: 2;
    padding: 2rem;
    backdrop-filter: blur(5px);

}

.Container_Languages .Icon-Language {
    
    width: clamp(75px, 8vw, 500px) ;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cardColor);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    padding: 1.5rem 1rem ;
}

.Icon-Language.checked {
    background: var(--checked);
}

.Container_Languages .Icon-Language:hover {
    transform: scale(1.05);
}

.Container_Languages .Icon-Language img {
    width: 90%;
}

.python::after {
    content: 'Python';
    display: block;
    position: absolute;
    font-size: .8rem;
    font-weight: 600;
    bottom: 5px;
    color: #fff;
  
}

.sql::after {
    content: 'Sql';
    display: block;
    position: absolute;
    font-size: .8rem;
    font-weight: 600;
    bottom: 5px;
    color: #fff;
  
}

.javascript::after {
    content: 'JavaScript';
    display: block;
    position: absolute;
    font-size: .8rem;
    font-weight: 600;
    bottom: 5px;
    color: #fff;
    color: #fff;
  
}

.html::after {
    content: 'Html';
    display: block;
    position: absolute;
    font-size: .8rem;
    font-weight: 600;
    bottom: 5px;
    color: #fff;
  
}

.sql::after {
    content: 'Sql';
    display: block;
    position: absolute;
    font-size: .8rem;
    font-weight: 600;
    bottom: 5px;
    color: #fff;
  
}

.java::after {
    content: 'Java';
    display: block;
    position: absolute;
    font-size: .8rem;
    font-weight: 600;
    bottom: 5px;
    color: #fff;
  
}

.css::after {
    content: 'Css';
    display: block;
    position: absolute;
    font-size: .8rem;
    font-weight: 600;
    bottom: 5px;
    color: #fff;
  
}
