.containerError {
    width: 100vw;
    height: 100vh;
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background: #1E232E;
}
h1 {
    font-size: 2rem;
}
button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
button:hover {
    transform: scale(1.04);
    opacity: .9;
}