
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.containerLanguages {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #1e232ec6;
    position: relative;
}
.containerLanguages.Light {
    background:rgba(255, 255, 255, 0.744);
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.return {
    padding: 1rem 2rem;
    background: #639dac;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 8%;
    left: 5%;
    color: white;
}
.return:hover {
    transform: scale(1.05);
}
.titulo {
    padding: 3rem;
    color: white;
}
.titulo.Light {
    color:black;
}
.grid-container {
    display: grid;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
}
.language {
    padding: 3rem 2rem;
    background:#d6d6d640;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.language::after{
    content: "";
    position: absolute;
    bottom: 3%;
    color: white;
    font-size: .7rem;
}
.language.Light {
    background:  rgba(0, 0, 0, 0.631);
}
.python::after{
    content: "Python";
}
.JavaScript::after{
    content: "JavaScript";
}
.SQL::after{
    content: "SQL";
}
.Java::after{
    content: "Java";
}
.HTML::after{
    content: "HTML";
}
.CSS::after{
    content: "CSS";
}
.language:hover{
    transform: scale(1.05);
}
.svgBg {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    
}
.robot {
    position: absolute;
    left: 3%;
    bottom: 10%;
    height: 100%;
    animation: slide-right 1.3s ease-in-out both;
}


.difficulty {

    margin-top: 3rem;
    padding: 2rem 1rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background:#d6d6d640;;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 400px;
  font-size: 14px;
  
}
.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}
.radio-inputs.Light{
    background: rgba(0, 0, 0, 0.631);
}
.radio-inputs .radio input {
  display: none;
}
.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgb(255, 255, 255);
  transition: all .15s ease-in-out;
}
.radio-inputs .radio input:checked + .name {
  background-color: #ffffff;
  font-weight: 600;
}
.radio-inputs .radio input:checked ~ .name {
    color: rgb(29, 29, 29);
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width:900px) {
    .svgBg svg {
        width: 900px;
    }
}

@media (max-width:600px) {
    .titulo {
        font-size: 1.5rem;
    }
    .radio-inputs {
        width: 350px; 
    }
    .language {
        padding: 3rem 2rem;
        width: 8rem;
        height: 8rem;
    }
    .language img {
        width: 100%;
    }

}
@media (max-width:400px) {
    .titulo {
        font-size: 1.3rem;
    }
    .radio-inputs {
        width: 350px; 
    }
    .language {
        padding: 3rem 2rem;
        width: 8rem;
        height: 8rem;
    }
    .language img {
        width: 100%;
    }
    .robot {
        display: none;
    }

}

@media (max-width:350px) {
    .titulo {
        font-size: 1rem;
    }
    .radio-inputs {
        width: 300px; 
    }
    .language {
        padding: 1rem ;
        width: 7rem;
        height: 7rem;
    }
    .language img {
        width: 100%;
    }
    .robot {
        display: none;
    }

}