
:root {
  --cardColor: #d6d6d640;
}
.difficulty {

  margin-top: 3rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;

}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background:var(--cardColor);
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: clamp(250px, 40vw, 350px);
  font-size: 14px;
  backdrop-filter: blur(5px);
  
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs.Light{
    background: rgba(0, 0, 0, 0.631);
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgb(255, 255, 255);
  transition: all .15s ease-in-out;

}

.radio-inputs .radio input:checked + .name {
  background-color: #ffffff;
  font-weight: 600;
 
}

.radio-inputs .radio input:checked ~ .name {
    color: rgb(29, 29, 29);
}