.container_rightSize {
    width: 50%;
    height: 100%;
    max-width: 50vw;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_rightSize svg {
    padding: 8rem;
    
}
.container_rightSize .ilustration {

    position: absolute;
    margin-top: 1rem;
}