:root {
    --border-radius: 0.75rem;
    --primary-color: #639dac;
    --secondary-color: #3c3852;  
  }
  
  .toggleCard {
    width: 70%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-top: 2rem;
    margin: 1rem;
  }
  
  .btnToggle {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
  }
  
  .btnToggle.active {
    width: 5rem;
    height: 3rem;
    border-radius: 20px;
  }
  
  .btnToggle > svg {
    transition: .3s;
  }
  
  .btnToggle.active > svg {
    transition: .3s;
    transform: rotate(225deg);
  }
  
  .card {
    width: 100%;
    height: 100%;
    margin: 2rem 0;
    font-family: "Arial";
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-100px);
    z-index: 1;
  
  }
  
  .card.active {
    animation: OpenAnimation 1s alternate forwards;
    opacity: 1;
    transform: translateY(0);
  }
  .btnToggle.inactive {
    animation: CloseAnimation 1s alternate-reverse forwards;
    opacity: 1;
    transform: translateY(0);
  }
  
  
  .enunciadoReview, .CorrectAlternative, .MarkedAlternative {
    color: white;
    padding: .5rem 0;
  }
  
  .card .card__arrow {
    position: absolute;
    background: var(--primary-color);
    padding: 0.4rem;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card svg {
    transition: 0.2s;
  }
  
  .card__arrow.right {
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
  }
  
  .card__arrow.left {
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    bottom: 0;
    left: 0;
  }
  
  .card:hover .card__arrow svg {
    transform: translateX(3px);
  }
  
  @keyframes OpenAnimation {
    0% {
      height: 0%;
      width: 0%;
      opacity: 0;
      transform: translateY(-100px);
    }
    50% {
      height: 100%;
      width: 40px;
      opacity: 0.5;
      transform: translateY(0px);
    }
    100% {
      height: 100%;
      width: 100%;
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes CloseAnimation {
    0% {
      height: 0%;
      width: 0%;
      opacity: 0;
      transform: translateY(-100px);
    }
    50% {
      height: 100%;
      width: 40px;
      opacity: 0.5;
      transform: translateY(0px);
    }
    100% {
      height: 100%;
      width: 100%;
      opacity: 1;
      transform: translateY(0px);
    }
  }
   
  @media (max-width: 900px) { 
    .enunciadoReview {
      font-size: 1rem;
    }
    .CorrectAlternative, .MarkedAlternative {
      font-size: .7rem;
    }
  }
  
  @media (max-width: 400px) { 
    .enunciadoReview {
      font-size: .8rem;
    }
    .CorrectAlternative, .MarkedAlternative {
      font-size: .5rem;
    }
  }