
.containerGameOver {
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.containerContent {
    width: 80%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    box-shadow:
        0.1px 0.2px 1px rgba(0, 0, 0, 0.013),
        0.3px 0.5px 2.3px rgba(0, 0, 0, 0.02),
        0.5px 0.9px 3.9px rgba(0, 0, 0, 0.024),
        0.8px 1.4px 5.9px rgba(0, 0, 0, 0.028),
        1.2px 2.1px 8.8px rgba(0, 0, 0, 0.032),
        1.8px 3.1px 13px rgba(0, 0, 0, 0.036),
        2.7px 4.7px 19.4px rgba(0, 0, 0, 0.04),
        4.3px 7.5px 30.9px rgba(0, 0, 0, 0.047),
        8px 14px 58px rgba(0, 0, 0, 0.06);
    background: #1e232ec6;
}
.containerContent.Light {
    background:rgba(255, 255, 255, 0.547);
}
.message {
    padding: 1rem 0;
    animation: scale-up-center .3s ease-in;
    text-align: center;
}
.userHits {
    color: rgb(212, 212, 212);
    text-align: center;
}
@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
.btnReturn {
    width: 15rem;
    height: 4rem;
    border-radius: 20px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background:  #639dac;
}

@media (max-width:900px) {
    .containerContent {
        width: 90%;
    }
}
@media (max-width:550px) {
    
    .message, .userHits {
        font-size: 1rem;
    }
}
@media (max-width:350px) {
    .message, .userHits {
        font-size: .7rem;
    }
}