:root {
    --color1:rgb(10, 211, 10);;;
    --color2: #ddd;
}
.containerProgressBar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-background {
    fill: none;
    stroke: var(--color2);
}
.circle-progress {
    fill: none;
    stroke: var(--color1);
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 1s ease-in;
}
.circle-text {
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    fill: var(--color2);
}