
:root {
    --border-radius: 0.75rem;
  --primary-color: #639dac;
  --secondary-color: #3c3852;  
}

.toggleCard {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 1rem;
  transition: .5s;
}

.toggleCard.active{
  padding-top: 2rem;
  height: 40%;
}

.btnToggle {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  margin-top: 2rem;
  transition-delay: 1s;
}

.btnToggle:hover{
  transform: scale(1);
}

.btnToggle.active {
  width: 5rem;
  height: 3rem;
  border-radius: 20px;
  margin-top: 0rem;
  transition-delay: .5s;
}

.btnToggle::after {
  content: 'Ver resultado';
  font-weight: 700;
  display: block;
  position: absolute;
  width: 10rem;
  height: 3rem;
  background:white  ;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  
}

.btnToggle.active.btnToggle::after {
  width: 0rem;
  height: 0;
 
}

.btnToggle > svg {
  transition: .3s;
}

.btnToggle.active > svg {
  transition: .3s;
  transform: rotate(225deg);
}

.card {
  width: 100%;
  height: 100%;
  margin:  0;
  font-family: "Arial";
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-100px);
  z-index: 1;

}

.card > * {
  opacity: 0;
  transition: opacity 0.3s;
}

.card.active {
  animation: OpenAnimation 1s alternate forwards;
  opacity: 1;
  transform: translateY(0);
}

.card.active > * {
  opacity: 1;
  transition-delay: 1s;
}

.card.inactive {
  animation: CloseAnimation 1s alternate forwards;
  opacity: 1;
  transform: translateY(0);
}

.card.inactive > * {
  opacity: 0;
}

.enunciadoReview,.CorrectAlternative, .MarkedAlternative {
  color: white;
  padding: .5rem 0;
}

.card .card__arrow {
  position: absolute;
  background: var(--primary-color);
  transition: 0.2s;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__arrow  svg {
  transition: 0.2s;
  width: 100%;
  height: 100%;
  padding: .4rem;

}

.card__arrow.left.active, .card__arrow.right.active {
  display: none;
}

.card__arrow.right {
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
}

.card__arrow.left {
  
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  bottom: 0;
  left: 0;
  

}
.card__arrow.left button, .card__arrow.right button{
  width: auto;
  height: auto;
  background: transparent;
}

.card:hover .right svg {
  transform: translateX(3px);
}

.card:hover .left svg {
  transform: translateX(-3px);
}


@keyframes OpenAnimation {
  0% {
    height: 0%;
    width: 0%;
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    height: 100%;
    width: 40px;
    opacity: 0.5;
  }
  100% {
    height: 100%;
    width: 100%;
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes CloseAnimation {
  0% {
    height: 100%;
    width: 100%;
    opacity: 1;
    transform: translateY(0px);
    
  }
  50% {
    height: 100%;
    width: 40px;
    opacity: 0.5;
  }
  100% {
    height: 0%;
    width: 0%;
    opacity: 0;
    
  }
}
 
@media (max-width: 900px) { 
  .enunciadoReview {
    font-size: 1rem;
  }
  .CorrectAlternative, .MarkedAlternative {
    font-size: .7rem;
  }
}

@media (max-width: 400px) { 
  .enunciadoReview {
    font-size: .8rem;
  }
  .CorrectAlternative, .MarkedAlternative {
    font-size: .5rem;
  }
}